# Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django specific files
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env
*.env

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
*.cover
nosetests.xml
coverage.xml
*.coveragerc

# Build directories
build/
dist/

# Docker and other container files
docker-compose.override.yml
docker-compose.dev.yml
Dockerfile
*.dockerfile

# Miscellaneous
*.bak
*.tmp
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/
