{% extends 'base.html' %}
{% load static %}
{% block title %}Proposal Success{% endblock %}
{% block content %}

<section class="report-status-section">
  <div class="report-status-container">
    <img src="{% static 'images/checkmark_1.jpeg' %}" alt="Checkmark" class="checkmark-icon">
    <h2 style="font-weight: 600; font-size: 2.5rem; margin-bottom: 30px;" >Proposal request has successfully send to KAPS </h2>
    <p style="font-weight: 500; margin-bottom: 40px;">Our team will send the detailed report to your WhatsApp and email very shortly.</p>
    <div class="action-buttons">
      <a href="tel:+9895769044">
        <button class="call-btn" style="font-weight: 600; width: 100%">Call now</button>
    </a>
    <a href="https://wa.me/9895769044">
      <button class="whatsapp-btn " style="font-weight: 600; width: 100%">Chat with us on WhatsApp</button>
    </a>
    </div>
  </div>
</section>

{% endblock %}
