
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

/* Form Styles */
form {
    width: 100%;
}

.row.mb-3 {
    margin-bottom: 1rem;
}

.col-form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.875em;
}

/* Button Styles */
.btn-dark {
    background-color: #347974;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #20a08c;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .row.mb-3 {
        display: flex;
        flex-direction: column;
    }

    .col-sm-2,
    .col-sm-10 {
        width: 100%;
    }

    .col-sm-2 {
        margin-bottom: 5px;
    }

    .card-title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 10px;
    }

    .card-body {
        padding: 10px;
    }

    .btn-dark {
        width: 27%;
        padding: 15px 0;
    }
}
