/* Car Listings Section */
body, h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Manrope', sans-serif;
  font-weight: 500; /* Medium weight */
}

.car-listings-section {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding-top: 20px; /* Add padding between navbar and section */
  padding-bottom: 20px; /* Add padding between section and footer */
  margin: 0 auto; /* Center the section */
  gap: 20px; /* Add gap between filters and car listings */
}

/* Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.filter-column {
  flex: 1;
  min-width: 200px; /* Adjust as needed */
}
.filter-column h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #333;
    text-align: start;
}

.filter-group label {
  display: block;
  margin-bottom: 10px;
}
.btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #2e7d6b;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #265e54;
}
/* Car Listings */
.car-listings {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.car-card {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  width: 48%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Ensure content is stacked vertically */
}

.car-image {
  position: relative;
}

.car-image img {
  width: 100%;
  height: 180px; /* Reduce height */
  object-fit: cover;
}

.share-text {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(0 0 0 / 0%);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; /* Ensure text decoration is none */
}

.car-info {
  padding: 15px; /* Reduce padding */
  text-align: left;
  flex-grow: 1; /* Make car-info take remaining space */
}

.car-info h2 {
  margin-top: 0;
  font-size: 1.4em; /* Reduce font size */
  margin-bottom: 10px; /* Add margin for spacing */
}

.car-info .price {
  font-size: 1.1em; /* Reduce font size */
  color: #000;
  margin-bottom: 10px; /* Add margin for spacing */
}

.car-info .price span {
  font-weight: bold;
}

.car-info .inspection {
  font-size: 1em;
  color: #2e7d6b;
  margin-bottom: 10px; /* Add margin for spacing */
}

.car-info .inspection span {
  font-weight: bold;
}

.car-info p {
  margin: 5px 0;
  color: #555;
}

.download-btn:hover {
  background-color: #265e54;
}


@media (max-width: 480px) {
  .car-info h2 {
    font-size: 1em;
  }

  .car-info .price {
    font-size: 0.9em;
  }

  .car-info .inspection {
    font-size: 0.9em;
  }

  .btn {
    font-size: 0.9em;
  }

  .car-image img {
    height: 120px;
  }
}